.ipynb_checkpoints/starter_kit_notebook_cross_validation-checkpoint.ipynb
.ipynb_checkpoints/starter_kit_notebook-checkpoint.ipynb
.ipynb_checkpoints/OPS_SAT_Dev-checkpoint.ipynb
.ipynb_checkpoints/Image_Augmentation-checkpoint.ipynb
.ipynb_checkpoints/color_correction-checkpoint.ipynb
wandb/
__pycache__/efficientnet_lite.cpython-39.pyc
.ipynb_checkpoints/exampl1-checkpoint.png
.ipynb_checkpoints/exampl2-checkpoint.png
.ipynb_checkpoints/visualization-checkpoint.ipynb
.ipynb_checkpoints/cv_visualization-checkpoint.png
cv_visualization.png
.ipynb_checkpoints/ensemble_learning-checkpoint.png
ensemble_learning.png
ensemble_learning_classification.png
best_models/fold_1_best_model_weights.h5
best_models/fold_2_best_model_weights.h5
best_models/fold_3_best_model_weights.h5
best_models/fold_4_best_model_weights.h5
best_models/fold_5_best_model_weights.h5
.gitignore
models/fold_1_best_model_weights.h5
models/best_weights.h5
models/fold_2_best_model_weights.h5
models/fold_3_best_model_weights.h5
models/fold_4_best_model_weights.h5
models/fold_5_best_model_weights.h5
models/fold_1_best_model_weights.h5
models/fold_2_best_model_weights.h5
models/fold_3_best_model_weights.h5
models/fold_4_best_model_weights.h5
models/fold_5_best_model_weights.h5
