.ipynb_checkpoints/starter_kit_notebook_cross_validation-checkpoint.ipynb
.ipynb_checkpoints/starter_kit_notebook-checkpoint.ipynb
.ipynb_checkpoints/OPS_SAT_Dev-checkpoint.ipynb
.ipynb_checkpoints/Image_Augmentation-checkpoint.ipynb
