.ipynb_checkpoints/starter_kit_notebook_cross_validation-checkpoint.ipynb
.ipynb_checkpoints/starter_kit_notebook-checkpoint.ipynb
.ipynb_checkpoints/OPS_SAT_Dev-checkpoint.ipynb
.ipynb_checkpoints/Image_Augmentation-checkpoint.ipynb
.ipynb_checkpoints/color_correction-checkpoint.ipynb
fold_1_best_model_weights.h5
fold_2_best_model_weights.h5
fold_3_best_model_weights.h5
fold_4_best_model_weights.h5
fold_5_best_model_weights.h5
best_weights.h5
**/*.ramez..log
**/*.ramez..log
**/*.yaml
wandb/run-20230425_155218-m547i015/files/.ipynb_checkpoints/requirements-checkpoint.txt
**/*.json
**/*.wandb
**/*.log
wandb/latest-run
